.admin-product-list {
    width: 100%;

    .input-container {
        max-width: 30rem;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .product-list {
        border-radius: 1.5rem;
        margin: 5rem 3rem;

        overflow-x: scroll;


        .table-header,
        .table-row {
            width: 100%;
            display: flex;
            align-items: center;
            min-width: 75rem;
            background-color: #fff;
            box-shadow: 2rem 2rem 2rem 0 rgba(#000, 0.03);


            .table-block {
                width: 25%;
                padding: 2rem;
                text-align: center;
                text-transform: uppercase;

                p {
                    font-weight: bolder;
                }

                a {
                    text-decoration: none;
                    color: var(--primary-color);
                }

                &:nth-child(1) {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 40%;
                }
            }
        }

        @media all and (max-width: 800px) {
            margin: 5rem 2rem;

            @media all and (max-width: 500px) {
                margin: 5rem 1rem;

            }
        }
    }
}