.admin-panel {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 3rem;
    z-index: 9998;
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-weight: lighter;
        text-transform: uppercase;
    }

    .admin-links {
        display: flex;

        .icon {
            color: var(--secondary-color);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            margin-left: 2rem;

            transition: color .2s ease-out;

            &:hover {
                color: #fff;
            }
        }
    }

    @media all and (max-width: 800px) {
        padding: 0 2rem;


        @media all and (max-width: 500px) {
            padding: 0 1rem;

        }
    }
}