.checkout-cart {
    // width: 100%;
    margin: 5rem 3rem 7rem;
    border-radius: .1rem;
    background-color: #fff;
    box-shadow: 2rem 2rem 2rem 0 rgba(#000, 0.03);

    @media all and (max-width: 800px) {
        margin: 5rem 2rem 7rem;

        @media all and (max-width: 500px) {
            margin: 5rem 1rem 7rem;

        }
    }


}

.checkout-table-header {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 40% 20% 15% 5%;
    // padding: 0 2rem;

    @media all and (max-width: 800px) {
        display: none;
        visibility: hidden;
    }
}

.header-block {
    font-weight: lighter;
    width: 100%;
    padding: 2rem;
    text-align: center;

    p {
        text-transform: uppercase;
    }
}

.empty-message {
    padding: 5rem 0;
    text-align: center;
}