.reservation-form {
    margin: 5rem 3rem;
    max-width: 60rem;
    background-color: #fff;
    padding: 4rem 2rem;
    border-radius: .1rem;
    box-shadow: 2rem 2rem 2rem 0 rgba(#000, 0.03);

    @media all and (max-width: 800px) {
        margin: 5rem 2rem;

        @media all and (max-width: 500px) {
            margin: 5rem 0;
            padding: 4rem 1rem;
        }
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .group {
            input {
                background-color: var(--body-bg);
                margin: 0;
            }

            margin: unset;
            margin-bottom: 2rem;

            &:first-child {
                padding-right: 2rem;
            }
        }


        &:last-of-type {
            margin-bottom: 2rem;
        }
    }
}